*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
    
  }
   .btn{
      background-color :#30B868;
      border: none;
      padding: 12px 16px;
      border-radius: 4px;
      color: rgba(255, 255, 255, 1);
      font-size: 16px;
      font-weight: 500;

 


}
 /* main style */
header{
    background-color: #FFFFFF;
    padding:16px 120px;
}
nav{
    width: 100%;
    margin: 0px auto;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
     align-items: center; 
    
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    
    
}
nav .menu a{
    font size: 16px;
    text-decoration: none;
    color:#000000;
    
    
}
