*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

. font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}

.btn{
    background-color: #30B868;
    border-radius: 4px;
    gap: 10;
    padding: 12px 16px;
    font-weight:700px;
   font-size: 16px;
   color:rgba(255, 255, 255, 1);
}

nav{
    width: 84%;
    max-width: 1346px;
     /* border: 1px solid blue; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
   
}
nav .menu{
    display: flex;
    list-style-type: none;
   align-items: center;
    gap: 32px;
    justify-content: center;
    
}
nav .menu li a{
    font-size: 16px;
     color:#000000;
   text-decoration: none;

  
}
