*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
    
  }
   .btn{
      background-color :#30B868;
      border: none;
      padding: 12px 16px;
      border-radius: 4px;
      color: rgba(255, 255, 255, 1);
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;

}

.section-heading{
    text-align: center;
}

.section-heading h1{
    font-size: 32px ;
    margin-bottom: 10px;
}
.section-heading p{
    font-size: 16px;
    color: #627382;
    
   
   
}

 /* main style */
header{
    background-color: #FFFFFF;
    padding:16px 120px;
}
nav{
    width: 100%;
    margin: 0px auto;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
     align-items: center; 
    
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    
    
}
nav .menu a{
    font size: 16px;
    text-decoration: none;
    color:#000000;
    
    
}

 .banner{
     position: relative;
    width: 100%;
    max-width: 100%;
    
}  

 .banner img{
    width: 100%;
    height: auto;
    
   
}

/* main content */

.banner .banner-content{
    position: absolute;
    text-align: center;
     /* padding: 70px 120px 134px; */
    top: 20%;
    right:10%;
    left: 5%;

}

.badge {
       display: inline-block;
       border-radius:8 px;
       border: 1px solid white;
      background-color: #FFFFFF;
        color:#30B868 ;
        padding:6px 14px;
        font-size: 14px;
        font-weight: 500;
       
       
}
   /* extra style */



.banner-content h1{
    font-size: 65px;
    font-weight: 700;
   color: #FFFFFF;
   
}
.banner-content h1 span{
    color: #30B868;
}

 .banner-content p{
    color:rgba(255, 255, 255, 1) ;
    font-size: 18px;
    line-height:34px ;
    margin-bottom: 12px;
    
 }  
   
#notes {
    padding-top: 30px;
}

#notes .notes-container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}

#notes .notes-container .note-box{
    display: flex;
    margin: 0 auto;
     padding: 40px; 
     gap: 14px; 
}

.note-box .note-card{
    padding:24px ;
    box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.162);
    /* background-color:#00000011;  */
    /* color: #ffffff; */
   border-radius: 8px;
    width: 322px;
    height: 300px;
    
   
}
 .note-box .note-card .dot{
    width: 40px;
    height: 40px;
    background-color:#F95555 ;
    margin-bottom: 16px;
 }

  .note-box .note-card h3{
    margin-bottom: 16px;
    font-size: 24px;
    font-style: 600px;
  }

  #brain {
    
     width: 1360px;
    height: 600px;
   display: flex;
   justify-content:flex-start ;
   align-items: center;
    /* border: 1px solid red; */
  }

  #brain .brain-image{
    padding: 120px;
    width: 700px;
    height: 800px;
    border-radius: 12px;
  }

  #brain .brain-content h6{
         font-size:16px ;
         font-weight: 500;
         color:#469165 ;
  }

  #brain .brain-content h1{
    font-size: 48px;
    font-weight: 600;
    top: 16px;
    bottom: 16px;
    
  }

  #brain .brain-content p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 16px;
   
  }
  #brain .brain-content .second{
    color: #001931;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 16px;
  }


  #Access{
    text-align: center;
    margin: 0 auto;
    width: 100%;
     padding: 120px 120px 120px;
   
  }

  #Access .early-section{
    background-color: #F7F6F2;
    padding: 80px 40px;
    border-radius: 12px;
  }

   #Access .early-section h2{
    font-size: 36px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 16px;
    
   }

#Access .early-section p{
 color:#627382;
 margin-bottom: 24px;

}

#Access .early-section button{
    margin-bottom: 16px;
}


  
  #Access .early-section span{
    color: #627382;
    font-size: 16px;
    line-height:20px ;
   
  }
  